In [1]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
import pickle

In [2]:
df = pd.read_csv("Book1.csv")

In [3]:
df

   sr.no  rate 2020  rate 2021  profit
0      1      40000      70000   30000
1      2      75000      90000   15000
2      3      90000      98000    8000
3      4      60000      80000   20000
4      5      50000      90000   40000
5      6      50000      95000   45000
6      7      95000     100000   10000
7      8      50000      50000       0
8      9      65000      90000   25000
9     10      85000      98000   13000

In [4]:
X = df[['rate 2020','rate 2021']]

In [5]:
y = df['profit']

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=50)

In [7]:
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test= sc.transform(X_test)

In [8]:
classifier = RandomForestClassifier()

In [9]:

classifier.fit(X_train, y_train)

RandomForestClassifier()

In [10]:
pickle.dump(classifier, open("model.pkl", "wb"))